<mat-card class="card-root">
  <mat-spinner [mode]="'indeterminate'" *ngIf="loadingItem"></mat-spinner>
  <div *ngIf="!loadingItem">
    <h3>{{ newsData.title }}</h3>
    <small *ngIf="newsData.url">
      <a [href]="newsData.url">({{ newsData.url }})</a>
    </small>
    <pre class="pre-root" [innerHTML]="newsData.text"></pre>
    <small
      >{{ newsData.score }} points by
      <span [routerLink]="['/user', newsData.by]">{{ newsData.by }}</span> |
      {{ newsData.time }}</small
    >
  </div>
  <div>
    <ul>
      <li *ngFor="let comment of newsData.kids; let i = index">
        <!-- <app-collapsible-list
          [level]="0"
          [id]="comment"
          (hasBeenDeleted)="onDeleted($event)"
        >
        </app-collapsible-list> -->
      </li>
    </ul>
  </div>
</mat-card>
