<div>
  <div>
    <button mat-button (click)="prevPage()">
      <i class="fas fa-arrow-left"></i>
    </button>
    &#8239;&#8239;
    <span>{{ page }}</span>
    <span>/</span>
    <span>{{ totalPages }}</span>
    &#8239;&#8239;
    <button mat-button (click)="nextPage()">
      <i class="fas fa-arrow-right"></i>
    </button>
  </div>

  <div *ngFor="let feed of news; let i = index">
    <app-news-item
      [index]="i"
      [id]="feed.item.id"
      [title]="feed.item.title"
      [url]="feed.item.url"
      [score]="feed.item.score"
      [by]="feed.item.by"
      [time]="feed.item.time"
      [commentsCount]="feed.item.kids ? feed.item.kids.length : 0"
    ></app-news-item>
  </div>
</div>
