<div>
  <!-- render loading condition -->
  <div *ngIf="loading" class="col-md-12 container text-center">
    <h5>loading ...</h5>
  </div>

  <div *ngIf="!loading" class="col-md-12 container">
    <!-- render total news -->
    <div class="d-flex justify-content-end mt-2">
      <p>Total news: {{ news.length }}</p>
    </div>

    <!-- render news list -->
    <div
      *ngFor="
        let feed of news
          | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize;
        index as i
      "
    >
      <app-news-item
        [index]="i"
        [id]="feed.id"
        [title]="feed.title"
        [url]="feed.url"
        [score]="feed.score"
        [by]="feed.by"
        [time]="feed.time"
        [commentsCount]="feed.kids ? feed.kids.length : 0"
      ></app-news-item>
    </div>

    <!-- render pagination -->
    <div *ngIf="news.length > 0" class="d-flex justify-content-center mt-2">
      <ngb-pagination
        [collectionSize]="news.length"
        [pageSize]="pageSize"
        [(page)]="page"
        [maxSize]="0"
        [ellipses]="true"
      ></ngb-pagination>
    </div>
  </div>
</div>
